<div class="flex flex-col gap-4">

    <div class="flex flex-col gap-1">
        <label class="font-medium text-sm">Fecha <span class="text-red-500">*</span></label>
        <input pInputText type="date" [(ngModel)]="form.fecha" class="w-full" />
    </div>

    <div class="grid grid-cols-2 gap-4">
        <div class="flex flex-col gap-1">
            <label class="font-medium text-sm">Prioridad <span class="text-red-500">*</span></label>
            <p-select [(ngModel)]="form.prioridad" [options]="prioridades"
                      optionLabel="label" optionValue="value"
                      placeholder="Seleccione la prioridad" styleClass="w-full" />
        </div>
        <div class="flex flex-col gap-1">
            <label class="font-medium text-sm">Estado</label>
            <p-select [(ngModel)]="form.estado" [options]="estados"
                      optionLabel="label" optionValue="value"
                      placeholder="Seleccione el estado" styleClass="w-full" />
        </div>
    </div>

    <div class="flex flex-col gap-1">
        <label class="font-medium text-sm">Responsable <span class="text-red-500">*</span></label>
        <input pInputText [(ngModel)]="form.responsable" placeholder="Nombre del responsable" class="w-full" />
    </div>

    <div class="flex flex-col gap-1">
        <label class="font-medium text-sm">Descripción <span class="text-red-500">*</span></label>
        <textarea pTextarea [(ngModel)]="form.descripcion" rows="4"
                  class="w-full" placeholder="Describa la acción correctiva..."></textarea>
    </div>
    <div class="flex flex-col gap-1">
    <label class="font-medium text-sm">Plaguicida <span class="text-red-500">*</span></label>
    <p-select [(ngModel)]="form.plaguicidaId"
              [options]="plaguicidas"
              optionLabel="label"
              optionValue="value"
              placeholder="Seleccione el plaguicida"
              styleClass="w-full" />
</div>

    <div class="flex justify-end gap-2 mt-2">
        <p-button label="Cancelar" severity="secondary" [outlined]="true" (onClick)="onCancelar()" />
        <p-button label="Guardar" icon="pi pi-check" [loading]="guardando" (onClick)="onGuardar()" />
    </div>
</div>