.layout-menu {
  list-style: none;
  padding: 1rem;
}

.menu-title {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.layout-menu li {
  margin-bottom: 0.5rem;
}

.layout-menu a {
  display: flex;
  align-items: center;
  padding: 0.7rem;
  border-radius: 10px;
  text-decoration: none;
  color: #333;
  transition: 0.2s;
}

.layout-menu a:hover {
  background-color: #e8f0fe;
}

.layout-menu i {
  margin-right: 10px;
}

/* BOTÓN INFERIOR */
.menu-footer {
  position: absolute;
  bottom: 20px;
  width: 100%;
  padding: 0 1rem;
}

.new-button {
    width: 90%;
    margin: 0 auto;
    display: block;

    background-color: #2563eb !important;
    border: none !important;
    height: 48px;
    font-weight: 700;
    border-radius: 25px;

    box-shadow: 0 4px 12px rgba(37, 99, 235, 0.25);
}